extends includes/layout

prepend pageStyles
  - var pageTitle = "A Page Title"
  link(rel="stylesheet" href="css/styles.css")

append pageContent
  div(class="row")
    mixin message(bgColor, textColor, messageString)
      div(class=`col ${bgColor} ${textColor}`)= messageString
    +message("bg-success", "text-white", "Success!")
    +message("bg-warning", "text-dark", "Warning!")
    +message("bg-danger", "text-white", "Failure!")
  div(class="row")
    div(class="col")
      div(class="customBox")

append pageScripts
  script(src="js/index.js")