extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = "Background"

append pageContent
  +jumbotron
    h1(class="display-4") Background
    hr(class="my-4")
    p(class="lead") What's all this about?
  div(class="container")
    p A website doesn't always need to be dynamic.  You may not need much of a backend if any to:
    ul
      li Show some information about a project
      li Give static text more responsive formatting using a framework like Bootstrap
      li Make a game that saves to localstorage
      li Run an app that uses local files uploaded and downloaded with the File API
    p We might want a static site, but actually writing a static site can be messy to maintain.  HTML and CSS are less than "DRY," and Javascript's got new ES versions coming out every year now.
    p This can be solved by using templating languages for static files.  Pug files with mixins make HTML considerably more DRY, as does SASS/SCSS for CSS.  Typescript and Babel can help us write JS toward whatever compatibility we need.
    p But when using templates, the build system can easily make it more difficult to test edits on the go.  Nobody wants to have to run a script before they can check what their edits will do.
    p And we're not looking for tradeoffs between DRY coding and easy testing.  So what do we do?
    h3 GULP
    p Plenty of sites will tell you how to use this or that gulp task to automate a build event and make it easier to test edits, like our Pug to HTML compilation.  But good luck finding a project that handles HTML, CSS, and JS in a consistent manner in one gulpfile.
    p The gulpfile in this project treats each web language the same way:
    ul
      li Pull in files from a directory set up specifically for output.  Templates that are only used as includes are left alone in their own directories.
      li Compile those files from the template language to something a user's browser will understand
      li Minify everything
      li Generate sourcemaps where possible (sadly Pug sourcemaps don't appear to be a thing)
    p For HTML, Pug templates are compiled with gulp-pug and then minified with gulp-htmlmin.
    p for CSS, SCSS templates are compiled with gulp-sass and then minified with gulp-csso.
    p for JS, Typescript files are transpiled and packed with any necessary local includes/npm modules using tsify/browserify, then minified with gulp-uglify.
    p A lot of times HTML minification gets left by the wayside, and for good reason.  Static sites already run plenty fast, it can be more difficult to inspect (see the above point about Pug sourcemaps), whitespace compresses easily with gzip, and it's usually easier to save more space by optimizing something else!
    p But by starting from setting up a consistent design philosophy, minifying our HTML is nearly a free win.
    h3 Live editing
    p Now we have the following tasks set up to generate our production code from DRYer templates:
    ul
      li gulp pages
      li gulp styles
      li gulp scripts
      li gulp clean (to reset the dist directory)
      li gulp (default, runs pages styles and scripts at once)
    p But we want to overcome that sticking point of running a script each time we edit a file
    ul
      li gulp watch
    p The gulp watch task we've set up in the gulpfile can track changes to any of our template files whether they're intended for output or just a module to be included.
    p By running "gulp watch" we effectively have a task setup to rerun our build process for us as needed.
    p With VS Code's live server extension, we can then open an HTML file in dist and watch our page grow each time we save a template.
    p This gives us a continuous development process:
    ul
      li Start "gulp watch"
      li Open the html page you want to develop in /dist with Live Server
      li Continue developing the page in the templates in /src and save to see exactly what the user would see in an optimized production environment
      li Inspect has access to sourcemaps, particularly useful to figure out which SCSS rule led to a style
    hr(class="my-4")
    h4 TiKevin83 (Travis McGeehan)
    p(class="lead") Web Developer - Macatawa Bank